.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #232f3e;
  color: white;
  padding: 7px 20px;
}

.navbar__left {
  display: flex;
}

.navbar__links {
  min-width: 450px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  font-size: 13px;
  font-weight: 700;
  cursor: pointer;
}

.navbar__menu {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  margin-right: 10px;
  cursor: pointer;
}

.navbar__right > p {
  text-align: right;
  font-size: 15px;
  font-weight: 700;
}
